
/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Montserrat",  sans-serif;
  --nav-font: "Open Sans",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #222222; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #106eea; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #222222;  /* The default color of the main navmenu links */
  --nav-hover-color: #106eea; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #222222; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #106eea; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f5f9ff;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: "Albert Sans", sans-serif;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
  font-family: "Albert Sans", sans-serif;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: "Albert Sans", sans-serif;
}

.card {
  max-width: 37em;
  flex-direction: row;
  background-image: url(../card/california-driving.png);
  border: 0;
  margin: 3em auto;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
}
.card.dark {
  color: #000;
}
.card-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.card-title span {
  color: #106eea;
  font-size: 14px;
  font-weight: 600;
  margin-right: 12px;
}

.cta-section span {
  color: #106eea;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  left: -10px;
}

.cta-section {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.card .imgs {
  max-width: 27.3%;
  padding: 0.5em;
  border-radius: 0.7em;
  margin-top: 65px;
  margin-left: 21px;
  height: 207px;
  object-fit: cover;
}
.card-body {
  display: flex;
  margin-top: 78px;
}
.text-section {
  width: 60%;
}
.cta-section {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.cta-section div {
  margin-bottom: 10px;
  margin-left: 5px;
}

.div3 {
  left: 35px !important;
}

.card-title7 span {
  color: #106eea;
}

.card-title8 span {
  color: #106eea;
}

.card-title9 span {
  color: #106eea;
}

.cta-section .div2 {
  margin-bottom: 10px;
  margin-top: -7px;
}

.cta-section .btn {
  padding: 0.3em 0.5em;
  /* color: #696969; */
}
.card.bg-light-subtle .cta-section .btn {
  background-color: #898989;
  border-color: #898989;
}

.card-title2 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  position: relative; 
  top: 3px;
}

.card-title2 span {
  color: #106eea;
  font-size: 14px;
  font-weight: 600;
  margin-right: 3px;
}

.card-title3 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  position: relative; 
  top: 3px;
}

.card-title3 span {
  color: #106eea;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}

.card-title4 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  position: relative; 
  top: 6px;
}

.card-title4 span {
  color: #106eea;
  font-size: 14px;
  font-weight: 600;
  margin-right: 12px;
}

.card-title5 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  position: relative; 
  top: 8px;
}

.card-title5 span {
  color: #106eea;
  font-size: 14px;
  font-weight: 600;
}

.card-title6 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  position: relative; 
  top: 8px;
}

.card-title6 span {
  color: #106eea;
  font-size: 14px;
  font-weight: 600;
}

.card-title7 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  left: 95px;
  top: 12px;
}

.card-title8 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  left: 95px;
  bottom: -12px;
}

.card-title9 {
  color: #000;
  font-size: 11px;
  font-weight: 600;
  white-space: nowrap;
  position: relative;
  top: 12px;
  left: 93px;
}

.card-img-top2 {
  width: 65px;
  height: 68px;
  position: relative;
  left: -52px;
  top: 16px;
  filter: grayscale(1);
}

.sign {
  position: absolute;
  left: 70px;
  bottom: 15px;
  color: #000;
}

.cta-section .div4 {
  left: 80px !important;
  bottom: -17px !important;
  color: #000 !important;
}

.cta-section .div5 {
  left: 48px !important;
  bottom: -10px !important;
  color: #000 !important;
  font-size: 12px;
}

.cta-section .div7 {
  left: -13px !important;
  bottom: 20px !important;
  color: #000 !important;
  font-size: 12px;
  margin-top: 12px;
}

.cta-section .div6 {
  left: -12px !important;
  bottom: -40px !important;
  color: #000 !important;
  font-size: 12px;
}

.card.dark h6 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}

.bg-none {
  background: none;
  flex-direction: column;
  background-color: #dbdcd7;
}

.gray_box {
  background-color: #211a16;
  height: 60px;
  width: 100%;
}

.table > :not(caption) > * > * {
  background: none;
  font-size: 12px;
  padding: 2px;
}

thead, tbody, tfoot, tr, td, th {
  border-color: #000;
  border-style: solid;
  border-width: 0;
}

.bg-none p {
  font-size: 14px;
  font-weight: 600;
}

table {
  margin-bottom: 0 !important;
}

.text-set {
  text-align: center;
  font-size: 10px !important;
  margin-bottom: 0;
}

@media screen and (max-width: 475px) {
  .card {
    font-size: 0.9em;
  }
}
